Z4NetScheduler/Service References/ServiceZDevices/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Z4Net.Services.Dto" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Z4Net.Services.Dto.Devices" />
  <xs:element name="ListDevices">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListDevicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Z4Net.Services.Dto" minOccurs="0" name="ListDevicesResult" nillable="true" type="q1:ArrayOfSpecificDeviceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Close">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SwitchBinary_ChangeState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Z4Net.Services.Dto.Devices" minOccurs="0" name="device" nillable="true" type="q2:SwitchBinaryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SwitchBinary_ChangeStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SwitchBinary_ChangeStateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>