Z4NetScheduler/Service References/ServiceZDevices/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ZDeviceService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Z4Net.Services.Dto" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Z4Net.Dto.Devices" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Z4Net.Services.Dto.Devices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IZDeviceService_ListDevices_InputMessage">
    <wsdl:part name="parameters" element="tns:ListDevices" />
  </wsdl:message>
  <wsdl:message name="IZDeviceService_ListDevices_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListDevicesResponse" />
  </wsdl:message>
  <wsdl:message name="IZDeviceService_Close_InputMessage">
    <wsdl:part name="parameters" element="tns:Close" />
  </wsdl:message>
  <wsdl:message name="IZDeviceService_Close_OutputMessage">
    <wsdl:part name="parameters" element="tns:CloseResponse" />
  </wsdl:message>
  <wsdl:message name="IZDeviceService_SwitchBinary_ChangeState_InputMessage">
    <wsdl:part name="parameters" element="tns:SwitchBinary_ChangeState" />
  </wsdl:message>
  <wsdl:message name="IZDeviceService_SwitchBinary_ChangeState_OutputMessage">
    <wsdl:part name="parameters" element="tns:SwitchBinary_ChangeStateResponse" />
  </wsdl:message>
  <wsdl:portType name="IZDeviceService">
    <wsdl:operation name="ListDevices">
      <wsdl:input wsaw:Action="http://tempuri.org/IZDeviceService/ListDevices" message="tns:IZDeviceService_ListDevices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZDeviceService/ListDevicesResponse" message="tns:IZDeviceService_ListDevices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Close">
      <wsdl:input wsaw:Action="http://tempuri.org/IZDeviceService/Close" message="tns:IZDeviceService_Close_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZDeviceService/CloseResponse" message="tns:IZDeviceService_Close_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SwitchBinary_ChangeState">
      <wsdl:input wsaw:Action="http://tempuri.org/IZDeviceService/SwitchBinary_ChangeState" message="tns:IZDeviceService_SwitchBinary_ChangeState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZDeviceService/SwitchBinary_ChangeStateResponse" message="tns:IZDeviceService_SwitchBinary_ChangeState_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IZDeviceService" type="tns:IZDeviceService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListDevices">
      <soap:operation soapAction="http://tempuri.org/IZDeviceService/ListDevices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Close">
      <soap:operation soapAction="http://tempuri.org/IZDeviceService/Close" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SwitchBinary_ChangeState">
      <soap:operation soapAction="http://tempuri.org/IZDeviceService/SwitchBinary_ChangeState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZDeviceService">
    <wsdl:port name="BasicHttpBinding_IZDeviceService" binding="tns:BasicHttpBinding_IZDeviceService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Z4Net.Services/IZDeviceService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>